body {
    text-align: center;
    color: #000000;
}

.error {
    color: red;
    border: red;
}

.clear {
    clear:both;
    font-size:0;
    height:0;
    line-height:0;
}

.active {
    color: red;
    font-weight: bold;
}

.even {
    background:none repeat scroll 0 0 #F3F3F3;
}

.button{
    color: red;
    margin: 10px 0px 10px 10px !important;
    font-weight: bold;
    width: 200px;
    height: 40px;
}

.button:hover{
    color: black;
    font-weight: normal;
    border:1px solid #000000;
}

a {
    text-decoration: none;
    color: #FAAC58;
}

a:hover {
    color: #FFFFFF;
}

ul, li {
    text-decoration: none;
}

#wrapper
{
    min-height: 100%;
}

#top-section {
    padding: 3px;
    background: #000000;
    height: 50px;
    min-width: 900px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}

#connection {
    float: left;
    color: red;
}

#navigation {
    float: right;
}

#navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#container
{
    text-align: left;
    margin: auto;
    width: 900px;
}

#container a:hover {
    color: #FFFFFF;
}

#left-col {
    float: left;
    width: 150px;
    padding: 2px;
}

#left-col li {
    list-style-type: none;
}
	
#menu {
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 5px 5px;
    width: 125px;
    float: left;
    border:1px solid #000000;
    background: #000000;
}

#menu-page {
    margin: 10px 5px 10px 5px;
    padding: 5px;
    width: 165px;
    float: left;
    border:1px solid #000000;
    background: #000000;
}

#mid-col {
    float: right;
    width: 710px;
    padding: 2px;
    border:1px solid #000000;
}

#mid-col li {
    list-style-type: none;
}

#mid-col div{
    margin: 0px 0px 0px 10px;
}

#mid-col input{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

#file-tree {
    float: left;
    padding: 1px;
    margin: 1px;
}

#page-details {
    float: right;
    text-align: left;
    width: 55%;
}

#page-info ul {
    padding: 0px;
}

#page-info ul li {
    padding: 15px;
    width: 658px;
}

#page-info ul li label {
    float: left;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
    width: 100px;
}

#footer {
    margin-top: 30px;
}

#footer a:hover {
    color: #000000;
}
